*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
/* ==============HEADERPART START============= */
#headerPart{
    padding: 20px 0;
    background-color: #f1eaea;
}
.headerContents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerContents ul li{
    display: inline-block;
padding: 0 15px;
}
.menu a{
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #575757;
}
.button {
    padding: 10px 25px;
    background-color: #1D4ED8;
    border-radius: 10px;
    border: none;
   
}
.button a{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
    color: #fff;
}

/* =================HEADERPART END============ */




/* =====================BANNERPART START============= */
#bannerPart{
    /* padding-top: 130px;
    padding-bottom: 65px; */
     background: url(../images/banner.jpg);
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
      padding-top: 130px;
    padding-bottom: 65px;
  background: linear-gradient(to right, #041226dc, #17303cc6, #3a4e509b, #79847e51, #f5f6f536);
}
.bannerContent{
    text-align: center;
}
.bannerContent h1{
    color: #FFFFFF;
      font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: 700;
}
.bannerContent p{
      color: #FFFFFF;
      font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  width: 829px;
  line-height: 24px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 270px;
}


/* =======================BANNERPART END=================== */
/* ======================SPEAKERPART START================= */

#speakerPart{
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #fff;
}
.spekerContent{
    text-align: center;
   
}
.spekerContent h3{
      color: #000102;
      font-family: "Inter", sans-serif;
  font-size: 56px;
  font-weight: 700;
}
.box{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.card{
    border: 1px solid rgba(153, 148, 148, 0.577);
    border-radius: 12px;
    overflow: hidden;
}
.card img{
    width: 100%;
   
   
}
.card h5{
      color: #2563EB;
      font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding-top: 15px;
}
.card h4{
      color: #0D1B2A;
      font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
}
.card p{
      color: #575757;
      font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 20px;
}
.bcontent{
    margin-left: 25px;
}
/* ======================SPEAKERPART END================= */



/* =======================SECURESPOTPART START====================== */
#securespotPart{
    padding-top: 20px;
    padding-bottom: 95px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fff;
   
}
.secureContent{
    text-align: center;
  
}
.secureBox{
    display:flex;
   margin-top: 50px;
  gap: 30px;
margin-left: 200px;
}
.sBox{
    padding: 30px;
    background-color: #E5E7EB;
    border-radius: 12px;
    border: 1px solid rgba(129, 127, 127, 0.337);
   
   
}
.sBox h5{
     color: #888888;
      font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 600;
 padding-bottom: 5px;
}
.sBox h3{
     color: #0D1B2A;
      font-family: "Inter", sans-serif;
  font-size: 44px;
  font-weight: 700;
 
}
.sBox h6{
     color: #888888;
      font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
 
}
.sBox p{
     color: #333333;
      font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
 padding: 5px 0;
 line-height: 21px;
 
}

.ptext{
    margin-top: 30px;
    margin-bottom: 10px;
}
.ptext i{
    padding-right: 5px;
  color: #1D4ED8;
 
}
hr{
    margin-top: 20px;
}
.secureContent h3{
 color: #0D1B2A;
      font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
.secureContent p{
 color: #575757;
      font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
  

}
.getS{
    padding: 10px 15px;
   background-color:transparent;
   color: #0D1B2A;
   border: 1px solid #0D1B2A;
   text-align: center;
   border-radius: 8px;
   cursor: pointer;
}
.active{
    background-color: #000102;
    color: #E5E7EB;
   
}
.getS.active{
   background-color: #1D4ED8;
}

.sBox.active h3,
.sBox.active h4,
.sBox.active h5,
.sBox.active h6,
.sBox.active p,
.sBox.active li
{
    color: #fff;
}
/* ==========================SECURESPOTPART END========================== */
/* =====================MISSINGPART START=========================== */
#missingPart{
    padding: 100px 0;
    background-color: rgb(241, 238, 238);
    text-align: center;
}
.missingContent{
    padding: 30px 0;
    border: 1px solid rgba(191, 188, 188, 0.523);
  
}
.up{
    text-align: center;
}
.up h3{
     color: #0D1B2A;
      font-family: "Inter", sans-serif;
  font-size: 44px;
  font-weight: 600;
}
.bottom{
    margin-top: 50px;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap: 30px;
    }
.bottom h4{
     color:#000;
      font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.bottom h6{
     color: #575757;
      font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
}

/* ========================MISSINGOART END=========================== */


/* ======================FOOTERPART START============================= */
#footerPart{
    padding: 25px 0;
    background-color: #bbb9b9;
}
.footerContent{
    display: flex;
    justify-content: space-between;
}
.rightSide{
   text-align: center;
  
}
.rightSide h4{
    padding-bottom: 10px;
}
.rightSide i{
    padding: 0 5px;
}
.rightSide hr{
  margin-bottom: 10px;
 height: 3px;
 background-color: #000;

}
.mn{
    display: flex;
    justify-content: space-between;
}
.ab{
    display: flex;
    gap: 20px;
}

/* ======================FOOTERPART END============================= */